no-wrap()
	text-overflow: ellipsis
	overflow: hidden
	white-space: nowrap
  
border-box()
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

.clearfix::after{display:block;visibility:hidden;clear:both;overflow:hidden;height:0;content:' ';}